<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<p th:text="'user.name: ' + ${user.name}"></p>
<p th:text="'user.id: ' + ${user.login_id}"></p>
<p th:text="'user.password: ' + ${user.password}"></p>
<form action="/users/patch" method="post">
    <div class="form-group">
        <input type="hidden" name="user_id" th:value="${user_id}">
        <label for="name">이름</label>
        <input type="text" id="name" name="name" placeholder="변경할 이름을 입력하세요">
        <label for="login_id">아이디</label>
        <input type="text" id="login_id" name="login_id" placeholder="변경할 아이디를 입력하세요">
        <label for="password">비밀번호</label>
        <input type="text" id="password" name="password" placeholder="변경할 비밀번호를 입력하세요">
    </div>
    <button type="submit">등록</button>
</form>
</body>
</html>